<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analyzing your text...</title>
</head>
<body>
    <!------------------------- code to remove punctuations -------------------------------------->
    <h1>your name - {{name}}</h1>
    <p> Analyzed text - {{analyzed_text}}</p>
    <p>Remove punctuation Checked - {{checked1}}</p>
    <p> capitalise Checked - {{checked2}}</p>

    
</body>
</html>